* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  max-width: 95%;
  margin: 0 auto;
}

.label {
  color: white !important;
  background-color: rgb(34, 61, 110) !important;
}

.Actionbutton {
  position: absolute;
  margin-right: 10px !important;
}

.add_button{
  display: flex;
  justify-content: flex-end;
  margin: 15px 15px 0 0; 
}

@media screen and (min-width: 1080px){
  .label {
    width: 60px;
    height: 30px;
    margin: 5px 15px;
  }
}