@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homeLink {
  font-size: 30px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #0e5abd;
  text-decoration: none;
}

.link {
  color: rgb(117, 116, 116);
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.homeLink:hover,
.link:hover {
  color: #0e5abd;
}
