* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  background-color: cornflowerblue;
  padding: 10px 20px;
  margin: 6px;
}

a li {
  border: none;
  color: white;
  text-decoration: none;
}
