* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homeLink {
  font-size: 22px;
  font-weight: 600;
  font-family: cursive;
   color: #255397;
   text-decoration: none;
}

.link {
  color: rgb(117, 116, 116);
  font-size: 16px;
  font-weight: 600;
  font-family: cursive;
  text-decoration: none;
}